@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6{
    @apply leading-snug;
    margin-top: 0.89em;
    margin-bottom: 0.25em;
}

p {
    @apply leading-normal;
    margin-top: 0.75em;
    margin-botom: 0.75em;
}

.wc_payment_methods {
    display: flex;
    flex-direction:column;
    row-gap: 8px;
}

.wc_payment_methods .wc_payment_method{
    display: flex;
    flex-direction:row;
    align-items:center;
    row-gap: 16px;
}

.wc_payment_method label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
}

.wc_payment_method label img {

}

li.wc_payment_method {}